.post-copyright {
  width: 90%;
  max-width: 55em;
  margin: 2.8em auto 0;
  padding: 0.5em 1.0em;
  border: 1px solid #d3d3d3;
  font-size: 1.0em;
  line-height: 1.0em;
  word-break: break-all;
  background: rgba(255,255,255,0.2);
}
.post-copyright p{margin:0;}
.post-copyright span {
  display: inline-block;
  width: 5.2em;
  color: black;
  font-weight: bold;
}
.post-copyright .raw {
  margin-left: 1em;
  width: 5em;
}
.post-copyright a {
  color: #000;
  border-bottom:0;
}
.post-copyright a:hover {
  color: #444;
  text-decoration: underline;
  font-weight: bold;
}
.post-copyright:hover .fa-clipboard {
  color: #000;
}
.post-copyright .post-url:hover {
  font-weight: bold;
}
.post-copyright .copy-path {
  margin-left: 1em;
  width: 1em;
  +mobile(){display:none;}
}
.post-copyright .copy-path:hover {
  color: #444;
  cursor: pointer;
}
